.Landing__h1 {
    text-align: center;
}

.Landing__section.section section {
    align-self: flex-start;
}

.Landing__feedback-link {
    font-size: 24px;
}

.Landing__loading-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 75px;
    left: 0;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.Landing__loading {
    font-size: 30px;
}

.Landing__alert-div {
    height: 25px;
    margin-bottom: 10px;
}

.Landing__p.error {
    margin: 10px;
}
