.SelectDogForHowl__outer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.SelectDogForHowl__img {
    max-height: 100px;
    width: auto;
}


.SelectDogForHowl__label {
    display: flex;
    flex-direction: row;
}

.SelectDogForHowl__label-container {
    display: flex;
    flex-direction: column;
}

/* .SelectDogForHowl__checkbox {
    display: none;
}

.SelectDogForHowl__label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.SelectDogForHowl__label::before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

.SelectDogForHowl__img {
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

:checked + .SelectDogForHowl__label {
    border-color: #ddd;
}
  
:checked + .SelectDogForHowl__label::before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
}
  
:checked + .SelectDogForHowl__label .SelectDogForHowl__img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
} */