.SelectDogForHowl__outer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.SelectDogForHowl__img {
    max-height: 100px;
    width: auto;
}


.SelectDogForHowl__checkbox + .SelectDogForHowl__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.SelectDogForHowl__label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

