.ReviewFormStarRater__rate-container {
    float: left;
    display: flex;
    flex-direction: row;
}

.ReviewFormStarRater__rate-container:not(:checked) input {
    position:absolute;
    left:-9999px;
}

.ReviewFormStarRater__rate-container:not(:checked) label {
    float: left;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}

.ReviewFormStarRater__rate-container:not(:checked) label:before {
    content: '★ ';
}

.ReviewFormStarRater__rate-container input:checked + label {
    color: #ffc700 !important;    
}

.ReviewFormStarRater__rate-container:not(:checked) label:hover,
.ReviewFormStarRater__rate-container:hover label,
.ReviewFormStarRater__rate-container:hover input:checked + label {
    color: #deb217 !important;  
}

.ReviewFormStarRater__rate-container label:hover ~ label,
.ReviewFormStarRater__rate-container:hover label:hover ~ input:checked + label {
    color: #ccc !important;
}

.ReviewFormStarRater__rate-container input:checked + label:hover,
.ReviewFormStarRater__rate-container input:checked + label:hover ~ label,
.ReviewFormStarRater__rate-container input:checked ~ label:hover,
.ReviewFormStarRater__rate-container input:checked ~ label:hover ~ label,
.ReviewFormStarRater__rate-container label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.ReviewFormStarRater__rate-container:not(:checked) label:focus,
.ReviewFormStarRater__rate-container:not(:checked) label:focus ~ label {
    color: #deb217;  
}
.ReviewFormStarRater__rate-container input:checked + label:focus,
.ReviewFormStarRater__rate-container input:checked + label:focus ~ label,
.ReviewFormStarRater__rate-container input:checked ~ label:focus,
.ReviewFormStarRater__rate-container input:checked ~ label:focus ~ label,
.ReviewFormStarRater__rate-container label:focus ~ input:checked ~ label {
    color: #c59b08;
}

.ReviewFormStarRater__rate-container input:focus + label {
    border:  1px solid black;
}
