.star-rating {
    display: inline-block;
  }
  
  #star-filled {
    content: '★ ';
    color: #FEDD31;
  }
  
  #star-empty {
    content: '☆ ';
    color: #CCC;
  }
  
  .stars {
    
    display: inline-block;
    position: relative;
    font-size: 0;
    
    > input {
      position:absolute;
      top:-9999px;
      clip:rect(0,0,0,0);
    }
    
    > label {
      font-size: 16px;
      padding: 0 2px;
      width: 1em;
      height: 1em;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;
      color: #ccc;
      cursor: pointer;
      
      &:before {
        @extend #star-empty;
      }
    }
    
    &.checked {
      
      > input:checked {
        ~ input + label:before {
          @extend #star-empty;
        }
      }
      
      > label {
        
        &:before {
          @extend #star-filled;
        }
      }
    }
    
    &:hover {
      > input:not(:checked) ~ input + label:before {
        @extend #star-filled;
      }
      
      > label:hover ~ input + label:before {
        @extend #star-empty;
      }
    }
  }