.LocationForm__fieldset {
    width: 100%;
}

.LocationForm__alert-div.large{
    min-height: 100px;
}

.LocationForm__alert-div.small {
    min-height: 75px;
}

@media screen and (min-width: 750px) {
    .LocationForm__alert-div.large {
        min-height: 60px;
    }

    .LocationForm__alert-div.small {
        min-height: 35px;
    }
}
