.LoginPage__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LoginPage__section header {
    text-align: center;
}

.LoginPage__div.label-input-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.LoginPage__alert-div {
    height: 25px;
    margin-bottom: 10px;  
}

.LoginPage__no-account {
    margin: 10px;
}

.LoginPage__loading-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 75px;
    left: 0;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginPage__loading {
    font-size: 30px;
}

.LoginPage__p.error {
    margin: 10px;
}
