.DogReviewForm__map-outer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.DogReviewForm__message-container {
    display: flex;
    flex-direction: column;
}

.DogReviewForm__review-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DogReviewForm__input-container {
    margin: 5px;
}

.DogReviewForm__review-form .sub-fieldset, 
.DogReviewForm__review-form-edit .sub-fieldset {
    width: 100%;
    margin: 0;
    padding: 5px;
}

.DogReviewForm__title-container input {
    width: 75%;
}

.DogReviewForm__alert-div.personal-message {
    min-height: 115px;
}