.DogListView__profile-pic {
    width: 75%;
    height: auto;
}

.DogListView__li {
    list-style: none;
    padding: 10px;
}

.DogListView__dog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DogListView__profile-link {
    margin: 5px;
}

@media screen and (min-width: 750px) {
    .DogListView__profile-pic {
        width: 50%;
    }
    
    .DogListView__li {
        width: 50%;
    }
}