.HowlListItem__li {
    list-style: none;
    padding: 10px;
    margin: 20px auto;
    width: 100%;
    border-top: 1px solid black;
}

.HowlListItem__li:first-of-type {
    border-top: none;
}

.HowlListItem__h3 {
    text-align: center;
}

.HowlListItem__location-li {
    list-style: none;
}

.HowlListItem__date {
    font-weight: bold;
}

.HowlListItem__photo-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.HowlListItem__img {
    width: 45%;
    margin: 5px;
}
