.HowlListItem__li {
    list-style: none;
    padding: 10px;
    margin: 20px auto;
    width: 100%;
}

.HowlListItem__h3 {
    text-align: center;
}

.HowlListItem__location-li {
    list-style: none;
}

.HowlListItem__date {
    font-weight: bold;
}