.DogDescription__message-container {
    display: flex;
    flex-direction: column;
}

.DogDescription__alert-div {
    height: 100px;
}

@media screen and (min-width: 750px) {
    .DogDescription__message-container textarea {
        min-width: 500px;
    }

    .DogDescription__alert-div {
        height: 50px;
    }
}
