:root {
    --star-color: #000;
    --star-background: hsl(55, 80%, 56%);
}
  
.StarRating__stars {
    /* 
        Calculates the transition point for the linear-gradient
        --rating is passed by an inline style from the component
    */
    --percent: calc(var(--rating) / 5 * 100%);

    display: inline-block;
    font-size: 28px;
    font-family: Times;
    line-height: 1;

    &::before {
        content: '★★★★★';
        letter-spacing: 3px;
        background: linear-gradient(
            90deg, 
            var(--star-background) 
            var(--percent), 
            var(--star-color) 
            var(--percent)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media screen and (min-width: 750px) {
    .StarRating__stars {
        font-size: 40px;
        margin-left: 10px;
    }
}
