.DogReviewListItem__li {
    list-style: none;
    padding: 10px;
    margin: 20px auto;
    width: 100%;
}

.DogReviewListItem__h3 {
    text-align: center;
}

.DogReviewListItem__star-outer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 750px) {
    .DogReviewListItem__star-outer-container {
        justify-content: start;
    }
}