.ReviewPage__outer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ReviewPage__outer-header {
    text-align: center;
}

.ReviewPage__main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ReviewPage__header {
    padding: 10px;
}

.ReviewPage__reviews-list {
    padding: 0;
}

.ReviewPage__star-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ReviewPage__star-div > p {
    margin-right: 5px;
}

.ReviewPage__edit-container {
    width: 100%;
    position: relative;
}

.ReviewPage__edit-cancel-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}