.HowlPageDogProfile__li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0;
}

.HowlPageDogProfile__img {
    width: 75%;
    height: auto;
    align-self: center;
}

.HowlPageDogProfile__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HowlPageDogProfile__reviews-ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HowlPageDogProfile__reviews-ul li:first-child {
    margin-top: 0;
}

.HowlPageDogProfile__reviews-container {
    width: 100%;
}

@media screen and (min-width: 750px) {
    .HowlPageDogProfile__img {
        width: 50%;
    }

    .HowlPageDogProfile__li {
        align-items: flex-start;
    }

    .HowlPageDogProfile__reviews-ul .DogReviewListItem__h3 {
        flex-direction: row;
    }
}
