.HowlPageView__outer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HowlPageView__header.top h1 {
    font-size: 30px;
    line-height: 36px;
}

.HowlPageView__header {
    text-align: center;
}

/* .HowlPageView__time-list {
    align-self: flex-start;
} */

.HowlPageView__address {
    margin-bottom: 10px;
    align-self: flex-start;
}

.HowlPageView__address p {
    margin: 5px;
}

.HowlPageView__dog-list {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HowlPageView__contact-info-ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
}
