@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&family=Rock+Salt&family=Montserrat&display=swap');

html {
  box-sizing: border-box;
  width: 100%;
  background-color: #F6F6F4;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}
