.CreateHowl__dog-select-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.CreateHowl__description-outer-container {
    display: flex;
    flex-direction: column;
}

.CreateHowl__map-outer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.CreateHowl__description-container {
    display: flex;
    flex-direction: column;
}

.CreateHowl__howl-form {
    width: 100%;
}

.CreateHowl__title-container {
    margin: 10px;
}

.CreateHowl__title-input {
    width: 70vw;
}

.CreateHowl__section-edit {
    position: relative;
}

.CreateHowl__close-button-edit {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}

@media screen and (min-width: 750px) {
    .CreateHowl__map-outer-container {
        flex-direction: row;
    }

    .CreateHowl__section-edit.section {
        position: absolute;
        height: 75vh;
        overflow: auto;
        background-color: white;
        border: 1px solid black;
        padding: 5px;
        margin: 25px;
        z-index: 10;
        width: 80%;
    }    
}