.CreateHowl__section.outer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CreateHowl__header-top {
    margin: 0 10px;
}

.CreateHowl__dog-select-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.CreateHowl__description-outer-container {
    display: flex;
    flex-direction: column;
}

.CreateHowl__map-outer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.CreateHowl__description-container {
    display: flex;
    flex-direction: column;
}

.CreateHowl__howl-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CreateHowl__title-container {
    margin: 10px;
}

.CreateHowl__title-input {
    width: 70vw;
}

.CreateHowl__alert-div.dogs {
    min-height: 75px;
}

.CreateHowl__alert-div.personal-message {
    min-height: 115px;
}

@media screen and (min-width: 900px) {
    .CreateHowl__map-outer-container {
        flex-direction: row;
    }  
}