.CreateHowl__section.outer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CreateHowl__header-top {
    margin: 0 10px;
}

.CreateHowl__dog-select-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.CreateHowl__description-outer-container {
    display: flex;
    flex-direction: column;
}

.CreateHowl__map-outer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.CreateHowl__description-container {
    display: flex;
    flex-direction: column;
}

.CreateHowl__howl-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CreateHowl__title-container {
    margin: 10px;
}

.CreateHowl__title-input {
    width: 70vw;
}

.CreateHowl__alert-div.dogs {
    min-height: 75px;
}

.CreateHowl__alert-div.personal-message {
    min-height: 115px;
}

.CreateHowl__loading-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 75px;
    left: 0;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.CreateHowl__loading {
    font-size: 30px;
}

@media screen and (min-width: 900px) {
    .CreateHowl__map-outer-container {
        flex-direction: row;
    }  
}
