.UploadDogProfilePhoto__photo-label {
    display: inline-block;
    background-color: hsl(245, 100%, 50%);
    border: 1px solid hsl(245, 100%, 50%);
    color: hsl(55, 80%, 56%);
    box-shadow: 0px 0px 2px 1px #B2AEB2;
    text-decoration: none;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 5px;
    padding: 5px 10px;
}

.UploadDogProfilePhoto__photo-label:hover,
.UploadDogProfilePhoto__photo-label:focus {
    background-color: hsl(245, 100%, 25%);
    border: 1px solid hsl(245, 100%, 25%);
}

.UploadDogProfilePhoto__photo-label:active {
    background-color: hsl(245, 100%, 15%);
    border: 1px solid hsl(245, 100%, 15%);
    box-shadow: 0px 0px 2px 0px #703670;
    transform: translateY(1px);
}

.UploadDogProfilePhoto__file-input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.ReactCrop__image {
    max-width: 100%;
    height: auto;
}

.UploadDogProfilePhoto__img-preview {
    max-width: 100%;
    height: auto;
}

.UploadDogProfilePhoto__current-img-container {
    display: flex;
    flex-direction: column;
}

.UploadDogProfilePhoto__outer-container {
    position: relative;
    display: flex;
}

.UploadDogProfilePhoto__img-preview-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.UploadDogProfilePhoto__outer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.UploadDogProfilePhoto__outer-section > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#file-type {
    text-align: center;
}

.UploadDogProfilePhoto__button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* @media screen and (min-width: 750px) {
    .UploadDogProfilePhoto__outer-section.edit.section {
        position: fixed;
        top: 15vh;
        height: 75vh;
        left: 25vw;
        right: 25vw;
        width: 50%;
        overflow: auto;
        background-color: white;
        border: 1px solid black;
        padding: 5px;
        margin: 25px;
    }
} */