.UploadDogProfilePhoto__img-preview {
    max-width: 300px;
    height: auto;
}

.UploadDogProfilePhoto__outer-container {
    position: relative;
    display: flex;
}

.UploadDogProfilePhoto__img-preview-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

@media screen and (min-width: 750px) {
    .UploadDogProfilePhoto__outer-section-edit.section {
        position: fixed;
        top: 15vh;
        height: 75vh;
        left: 25vw;
        right: 25vw;
        width: 50%;
        overflow: auto;
        background-color: white;
        border: 1px solid black;
        padding: 5px;
        margin: 25px;
    }
}